# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf
C Pointers 3 - Advanced Concepts/dump_array
C Pointers 2 - Advanced Concepts/binary_search
C Pointers 1 - Advanced Concepts/any_copy
C Pointers (Source Code) 1 - Basic Concepts/const_ptr
C Pointers (Source Code) 1 - Basic Concepts/dynmem
C Pointers (Source Code) 1 - Basic Concepts/ptr_arith
C Pointers (Source Code) 1 - Basic Concepts/ptr_basics
C Pointers (Source Code) 1 - Basic Concepts/ptr_vs_array
C Pointers (Source Code) 1 - Basic Concepts/sizeof
C Pointers (Source Code) 1 - Basic Concepts/strings
Hash Tables Exercise #1, #2 & #3/Doxyfile
Hash Tables Exercise #1, #2 & #3/LICENSE
Hash Tables Exercise #1, #2 & #3/Makefile
Hash Tables Exercise #1, #2 & #3/README.md
Hash Tables Exercise #1, #2 & #3/test
Hash Tables Exercise #1, #2 & #3/include
Hash Tables Exercise #1, #2 & #3/doc
Hash Tables Exercise #1, #2 & #3/bin
Hash Tables Exercise #1, #2 & #3/apps
Hash Tables Exercise #1, #2 & #3/src/utility.c
Hash Tables Exercise #1, #2 & #3/src/hires_timer.c
Hash Tables Exercise #1, #2 & #3/src/hires_timer_private.h
Hash Tables Exercise #1, #2 & #3/src/io.c
Hash Tables Exercise #1, #2 & #3/src/random.c
Hash Tables Exercise #1, #2 & #3/src/timer.c
Hash Tables Exercise #1, #2 & #3/src/timer_private.h
Sort Exercise 1/README.md
Sort Exercise 1/Doxyfile
Sort Exercise 1/LICENSE
Sort Exercise 1/Makefile
Sort Exercise 1/test
Sort Exercise 1/src/utility.c
Sort Exercise 1/src/timer_private.h
Sort Exercise 1/src/timer.c
Sort Exercise 1/src/random.c
Sort Exercise 1/src/io.c
Sort Exercise 1/src/hires_timer_private.h
Sort Exercise 1/src/hires_timer.c
Sort Exercise 1/include
Sort Exercise 1/doc
Sort Exercise 1/bin
Sort Exercise 1/apps
Abstract Data Types 1 - Stack Exercise/src/hires_timer.c
Abstract Data Types 1 - Stack Exercise/src/hires_timer_private.h
Abstract Data Types 1 - Stack Exercise/src/io.c
Abstract Data Types 1 - Stack Exercise/src/random.c
Abstract Data Types 1 - Stack Exercise/src/timer.c
Abstract Data Types 1 - Stack Exercise/src/timer_private.h
Abstract Data Types 1 - Stack Exercise/src/utility.c
Abstract Data Types 1 - Stack Exercise/test
Abstract Data Types 1 - Stack Exercise/include
Abstract Data Types 1 - Stack Exercise/doc
Abstract Data Types 1 - Stack Exercise/bin
Abstract Data Types 1 - Stack Exercise/apps
Abstract Data Types 1 - Stack Exercise/Doxyfile
Abstract Data Types 1 - Stack Exercise/LICENSE
Abstract Data Types 1 - Stack Exercise/Makefile
Abstract Data Types 1 - Stack Exercise/README.md
Binary Search Trees Exercise #1 & #2/apps/Makefile
Binary Search Trees Exercise #1 & #2/apps/mk/dummy.mk
Binary Search Trees Exercise #1 & #2/apps/mk/use_timer.mk
Binary Search Trees Exercise #1 & #2/apps/use_timer.c
Binary Search Trees Exercise #1 & #2/bin/Makefile
Binary Search Trees Exercise #1 & #2/bin/mk/dummy.mk
Binary Search Trees Exercise #1 & #2/doc/images/upoalglib.png
Binary Search Trees Exercise #1 & #2/doc/images/upoalglib.svg
Binary Search Trees Exercise #1 & #2/Doxyfile
Binary Search Trees Exercise #1 & #2/include/upo/error.h
Binary Search Trees Exercise #1 & #2/include/upo/hires_timer.h
Binary Search Trees Exercise #1 & #2/include/upo/io.h
Binary Search Trees Exercise #1 & #2/include/upo/macro.h
Binary Search Trees Exercise #1 & #2/include/upo/random.h
Binary Search Trees Exercise #1 & #2/include/upo/timer.h
Binary Search Trees Exercise #1 & #2/include/upo/utility.h
Binary Search Trees Exercise #1 & #2/LICENSE
Binary Search Trees Exercise #1 & #2/Makefile
Binary Search Trees Exercise #1 & #2/README.md
Binary Search Trees Exercise #1 & #2/src/hires_timer.c
Binary Search Trees Exercise #1 & #2/src/hires_timer_private.h
Binary Search Trees Exercise #1 & #2/src/io.c
Binary Search Trees Exercise #1 & #2/src/random.c
Binary Search Trees Exercise #1 & #2/src/timer.c
Binary Search Trees Exercise #1 & #2/src/timer_private.h
Binary Search Trees Exercise #1 & #2/src/utility.c
Binary Search Trees Exercise #1 & #2/test/Makefile
Binary Search Trees Exercise #1 & #2/test/mk/dummy.mk
Binary Search Trees Exercise #1 & #2/test/mk/hires_timer.mk
Binary Search Trees Exercise #1 & #2/test/mk/timer.mk
Binary Search Trees Exercise #1 & #2/test/test_bst
Binary Search Trees Exercise #1 & #2/test/test_bst_more
Binary Search Trees Exercise #1 & #2/test/test_hires_timer
Binary Search Trees Exercise #1 & #2/test/test_hires_timer.c
Binary Search Trees Exercise #1 & #2/test/test_timer
Binary Search Trees Exercise #1 & #2/test/test_timer.c
Abstract Data Types 2 - Stack Exercise/apps/Makefile
Abstract Data Types 2 - Stack Exercise/apps/mk/dummy.mk
Abstract Data Types 2 - Stack Exercise/apps/mk/use_timer.mk
Abstract Data Types 2 - Stack Exercise/apps/use_timer.c
Abstract Data Types 2 - Stack Exercise/bin/Makefile
Abstract Data Types 2 - Stack Exercise/bin/mk/dummy.mk
Abstract Data Types 2 - Stack Exercise/doc/images/upoalglib.png
Abstract Data Types 2 - Stack Exercise/doc/images/upoalglib.svg
Abstract Data Types 2 - Stack Exercise/Doxyfile
Abstract Data Types 2 - Stack Exercise/include/upo/error.h
Abstract Data Types 2 - Stack Exercise/include/upo/hires_timer.h
Abstract Data Types 2 - Stack Exercise/include/upo/io.h
Abstract Data Types 2 - Stack Exercise/include/upo/macro.h
Abstract Data Types 2 - Stack Exercise/include/upo/random.h
Abstract Data Types 2 - Stack Exercise/include/upo/timer.h
Abstract Data Types 2 - Stack Exercise/include/upo/utility.h
Abstract Data Types 2 - Stack Exercise/LICENSE
Abstract Data Types 2 - Stack Exercise/Makefile
Abstract Data Types 2 - Stack Exercise/README.md
Abstract Data Types 2 - Stack Exercise/src/hires_timer.c
Abstract Data Types 2 - Stack Exercise/src/hires_timer_private.h
Abstract Data Types 2 - Stack Exercise/src/io.c
Abstract Data Types 2 - Stack Exercise/src/random.c
Abstract Data Types 2 - Stack Exercise/src/timer.c
Abstract Data Types 2 - Stack Exercise/src/timer_private.h
Abstract Data Types 2 - Stack Exercise/src/utility.c
Abstract Data Types 2 - Stack Exercise/test/Makefile
Abstract Data Types 2 - Stack Exercise/test/mk/dummy.mk
Abstract Data Types 2 - Stack Exercise/test/mk/hires_timer.mk
Abstract Data Types 2 - Stack Exercise/test/mk/timer.mk
Abstract Data Types 2 - Stack Exercise/test/test_hires_timer
Abstract Data Types 2 - Stack Exercise/test/test_hires_timer.c
Abstract Data Types 2 - Stack Exercise/test/test_timer
Abstract Data Types 2 - Stack Exercise/test/test_timer.c
Sort Exercise 2/apps/Makefile
Sort Exercise 2/apps/mk/dummy.mk
Sort Exercise 2/apps/use_timer.c
Sort Exercise 2/bin/mk/dummy.mk
Sort Exercise 2/doc/images/upoalglib.png
Sort Exercise 2/Doxyfile
Sort Exercise 2/include/upo/hires_timer.h
Sort Exercise 2/include/upo/io.h
Sort Exercise 2/include/upo/macro.h
Sort Exercise 2/include/upo/random.h
Sort Exercise 2/include/upo/timer.h
Sort Exercise 2/include/upo/utility.h
Sort Exercise 2/LICENSE
Sort Exercise 2/README.md
Sort Exercise 2/src/hires_timer.c
Sort Exercise 2/src/io.c
Sort Exercise 2/src/random.c
Sort Exercise 2/src/timer.c
Sort Exercise 2/src/utility.c
Sort Exercise 2/test/mk/dummy.mk
Sort Exercise 2/test/Makefile
Sort Exercise 2/test/mk/hires_timer.mk
Sort Exercise 2/test/mk/timer.mk
Sort Exercise 2/test/test_hires_timer.c
Sort Exercise 2/test/test_timer.c
Sort Exercise 3/bin/Makefile
Sort Exercise 3/bin/mk/dummy.mk
Sort Exercise 3/doc/images/upoalglib.png
Sort Exercise 3/apps/use_timer.c
Sort Exercise 3/doc/images/upoalglib.svg
Sort Exercise 3/include/upo/error.h
Sort Exercise 3/apps/mk/use_timer.mk
Sort Exercise 3/include/upo/macro.h
Sort Exercise 3/LICENSE
Sort Exercise 3/src/hires_timer.c
Sort Exercise 3/src/random.c
Sort Exercise 3/src/utility.c
Sort Exercise 2/include/upo/error.h
Sort Exercise 2/src/hires_timer_private.h
Sort Exercise 3/apps/mk/dummy.mk
Sort Exercise 3/include/upo/io.h
Sort Exercise 3/include/upo/utility.h
Sort Exercise 3/src/hires_timer_private.h
Sort Exercise 2/doc/images/upoalglib.svg
Sort Exercise 3/apps/Makefile
Sort Exercise 3/include/upo/random.h
Sort Exercise 3/Makefile
Sort Exercise 3/src/io.c
Sort Exercise 3/test/Makefile
Sort Exercise 3/test/mk/hires_timer.mk
Sort Exercise 2/bin/Makefile
Sort Exercise 3/Doxyfile
Sort Exercise 3/include/upo/timer.h
Sort Exercise 3/src/timer_private.h
Sort Exercise 3/README.md
Sort Exercise 2/src/timer_private.h
Sort Exercise 3/src/timer.c
Sort Exercise 3/include/upo/hires_timer.h
Sort Exercise 3/test/mk/dummy.mk
Sort Exercise 3/test/mk/timer.mk
Sort Exercise 3/test/test_hires_timer.c
Sort Exercise 2/Makefile
Sort Exercise 2/apps/mk/use_timer.mk
Sort Exercise 3/test/test_timer.c
Stack Exercise - Abstract Data Types/apps/mk
Stack Exercise - Abstract Data Types/doc
Stack Exercise - Abstract Data Types/test/mk/timer.mk
Stack Exercise - Abstract Data Types/test/mk/hires_timer.mk
Stack Exercise - Abstract Data Types/src/utility.c
Stack Exercise - Abstract Data Types/test/Makefile
Stack Exercise - Abstract Data Types/src/timer_private.h
Stack Exercise - Abstract Data Types/src/timer.c
Stack Exercise - Abstract Data Types/src/random.c
Stack Exercise - Abstract Data Types/src/hires_timer_private.h
Stack Exercise - Abstract Data Types/src/hires_timer.c
Stack Exercise - Abstract Data Types/Makefile
Stack Exercise - Abstract Data Types/LICENSE
Stack Exercise - Abstract Data Types/README.md
Stack Exercise - Abstract Data Types/include/upo/utility.h
Stack Exercise - Abstract Data Types/src/io.c
Stack Exercise - Abstract Data Types/include/upo/macro.h
Stack Exercise - Abstract Data Types/include/upo/timer.h
Stack Exercise - Abstract Data Types/include/upo/random.h
Stack Exercise - Abstract Data Types/include/upo/io.h
Stack Exercise - Abstract Data Types/include/upo/hires_timer.h
Stack Exercise - Abstract Data Types/include/upo/error.h
Stack Exercise - Abstract Data Types/Doxyfile
Stack Exercise - Abstract Data Types/bin/mk/dummy.mk
Stack Exercise - Abstract Data Types/test/mk/dummy.mk
Stack Exercise - Abstract Data Types/test/test_hires_timer.c
Stack Exercise - Abstract Data Types/bin/Makefile
Stack Exercise - Abstract Data Types/test/test_timer.c
Stack Exercise - Abstract Data Types/apps/use_timer.c
Stack Exercise - Abstract Data Types/apps/Makefile
Stack Exercise - Abstract Data Types/test/test_hires_timer
Stack Exercise - Abstract Data Types/test/test_stack
Stack Exercise - Abstract Data Types/test/test_timer
